@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";

/*

*/
.carousel-item{
    background-color: #33333300;
}

.img-container img{
    transition: filter 0.3s ease-in-out;
    filter: brightness(0.9);
}
.img-container:hover img{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    filter: brightness(0.7);
}




#carusel{
    background-color: #5a5656;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    padding-right: 25px;
}
#mision{
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin-right: 10px;
    
}
#somos{
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin-right: 10px;
    
}
#vision{
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin-right: 10px;
    
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5,
#slide-6:checked ~ .control-6,
#slide-7:checked ~ .control-7 {
    display: block;
}




@media screen and (max-width:700px){
    
}

@media screen and (max-width:576px){
  
    
}