.alerta-personalizada {
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 13px;
    width: 150px; 
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
