@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";

/* border-radius imágenes de contacto */
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}



/* div{
    margin-bottom: 15px;
    
} */

 .subtitle {
    font-size: 20px;
    border-bottom: 4px color(#fed766);
}



/* .btn-group {
    border: 2px solid red;
} */

/* .row {
    border: 4px solid red;
} */

.yellowButton:hover{
    width: 80px!important;
}


 @media screen and (max-width:800px) {
 main {
    margin: 0;
 }
}
@media screen and (max-width:700px) {
    yellowButton {
        width: 50px!important;
    }

}

@media (max-width: 750px){
    .avatar{
        height: 80px;
    }

    .selectAvatar{
        height: 30px;
    }
}


/* @media screen and (max-widh:768px) {
    img {
        width: 45px;
        height: 45px;
    }
    yellowButton {
        width: 30px!important;
    } 
    
} */

