@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";

*{
    color:black;
}

.hidden{
    display: none;
}

#test{
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: 700px;
}

#test2{
    list-style-type: none;
    margin: 0;
    margin-top: 40px;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 10px 0px 10px;
    height: 690px;
}


.gradient-custom {
    /* fallback for old browsers */
    background: #190e01;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(1, 6, 42), rgb(41, 1, 52));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(1, 6, 42), rgb(47, 4, 58))
    }
    
    .mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }

    @media screen and (max-width: 800px){
        main{
            margin: 0;
        }
    }

   @media screen and (max-width: 480px){
    main{
        margin:0;
    }

    #test{
        display: none;
    }

    #chat{
        display: none;
    }

    #test2{
        margin-top: 10px;
    }

    }