@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";

*{
    color:black;
}

main{
/*     margin-left: 10%;
    margin-right: 10%; */
    margin-left: auto;
    margin-right: auto;
}

body{
    overflow-x: hidden;
}


.hidden{
    display: none !important;
}



#chat-selector-list{
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: 700px;
}

#chat-display{
    list-style-type: none;
    margin: 0;
    margin-top: 40px;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 10px 0px 10px;
    height: 693px;
}

.message-header{
    padding: 5px !important;
    align-items: center;
}
 .message-body{
    padding: 5px !important;
   
    
}

.message-incoming{
    margin-right: auto;
}
 



/* #input-chat{
    
} */

.gradient-custom {
    /* fallback for old browsers */
    background: #190e01;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(1, 6, 42), rgb(41, 1, 52));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(1, 6, 42), rgb(47, 4, 58));
    }
    
    .mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }


    @media screen and (max-width: 1000px){
        main{
            margin: 0;
        }

    }

    @media screen and (min-width: 766px) {
     

        .message-body{
            min-width: 230px;
        }
    }

   @media screen and (max-width: 766px){
        main{
            margin:0;
        }

        #chat-selector{
            height: 700px ;
           
        }
        #chat-selector-list{
           height: 670px; 
        }

       

        #chat-display{
            margin-top: 10px;
            height: 700px;
        }

        #chats-text{
            display: none;
        }
        
        #chats-display-btn{
            display: inline-block !important;
            background-color: rgb(119, 128, 219);
            color: black !important;
            border-radius: 4rem;
            width: 70px;
            height: 25px;
            font-weight: bold;
            opacity: 0.9;
            
        }
        #chats-display-btn:hover{
           /*  background-color: rgb(101, 108, 185); */
           opacity: 1;
           cursor: pointer;
            
        }
        #chats-display-btn:active{
            transform: translateY(4px);
        }

        .message-body{
            min-width: 150px;
        }
    }

    

     /* scroll bar del chat */

      #chat-display::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      #chat-display::-webkit-scrollbar-track {
        background: linear-gradient(to bottom right, rgb(1, 6, 42), rgb(47, 4, 58));
        border-radius: 2rem;
      }
       
      /* Handle */
      #chat-display::-webkit-scrollbar-thumb {
        background: #ffffff; 
        border-radius: 2rem;
      }
      
      /* Handle on hover */
      #chat-display::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }

     /* scroll bar del selector de chats */

     #chat-selector-list::-webkit-scrollbar {
        width: 10px;
      }

    /* Track */
    #chat-selector-list::-webkit-scrollbar-track {
    background: white;
    }
    
    /* Handle */
    #chat-selector-list::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, rgb(1, 6, 42), rgb(47, 4, 58)); 
    border-radius: 2rem;
    }
    
    /* Handle on hover */
    #chat-selector-list::-webkit-scrollbar-thumb:hover  {
    background: #cdcdcd; 
    }