@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";

#avatar{
    border-radius: 50%;
    height: 35%;
    width: 35%;
}

#containerPrincipal{
    width: 70%;
}

#element{
    padding-top: 5px;
    border-top: dotted;
    border-top-color: #FED766;
    border-top-width: 2px;
}

#cancel{
    background-color: #6b1b1b!important;
    color: #ffff!important;
}

/* Cambia el color de texto de las opciones */
#hardSkills option {
    color: #333;
}