@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";


/* 
.card{
    border-radius: 4px;
    background-color: #333; 
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

} */

/* .card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(12, 234, 241, 0.768), 0 4px 8px rgba(0,0,0,.06);
} */


#formularioDeProyecto {
  background-color: #333;


}

textarea {
  background-color: #333;
}

#publications {
  background-color: #333;

}


.blur-out-contract-bck{
  animation: blur-out-expand-fwd 2s cubic-bezier(.55, .085, .68, .53) infinite both
}

