@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";

#trendsList{
    background: rgba(83,67,49,0.8);
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
}

#trendingTitle{
    text-align: right;
}

#trending {
    position: fixed;
    width: 20%;
    height: 100%;
    overflow-y: auto;
  }
  
  #projects {
    margin-left: 25%;
  }

.title{
    border-bottom: 2px dotted rgb(212, 170, 125);
    width: 90%;
    margin: auto;
}
/* Estilos para botones personalizados transparentes */
.btn-custom-transparent {
    background-color: transparent!important; /* Fondo transparente */
    border: none!important; /* Sin borde */
   
  }