@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";
/* *{border:2px solid red} */

.container{
    width: 50%;
}

.porfileImage{
    height: 90%;
    width: 90%;
}

ul{
    list-style-type: none;
}
li {
    float: left;
    text-align: center;
    width: 7em;
  }

.aboutMe{
    padding: 3%;
    margin: 0 10% 3% 10% ;
    border-bottom: 2px dotted #FED766;
}