@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";
/* *{border:2px solid red} */

.container{
    width: 50%;
}

.porfileImage{
    height: 60%;
    width: 60%;
}

.title{
    text-align: center;
    margin-top: 5%;
}

.row{
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    text-align: center;
}
.li {
    display: inline;
    margin-right: 30px;
}

.aboutMe{
    background-color:  rgba(83,67,49,0.5);
    padding: 3%;
    margin: 0 10% 3% 10% ;
}