@import "./footer.css";
@import "./navbar.css";
@import "./styles.css";
 *{border:2px solid red} 


body {
    font-family: 'Quicksand', sans-serif;
    
    
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-image {
    max-width: 200px;
    border-radius: 50%;
}

.profile-info {
    text-align: left;
}

.profile-info h4 {
    /* font-family: 'Josefin Slab', serif; */
}

.profile-info p {
    margin: 0;
    color: #777;
}

.connect-button {
    margin-top: 10px;
}

.about-me {
    margin-top: 20px;
}

.about-me p {
    line-height: 1.5;
}

.skills {
    margin-top: 20px;
}

.skills ul {
    padding-left: 20px;
    list-style-type: square;
}

.skills .technical-skills {
    margin-top: 0;
}

.skills .technical-skills ul {
    margin-top: 20px;
}

.projects {
    margin-top: 20px;
}

.project-item {
    display: flex;
    margin-bottom: 20px;
    color: white;
    text-align: justify;
}

.project-item img {
    max-width: 80px;
    margin-right: 10px;
   
}

.project-item p {
    margin: 0;
}

.connect-button {
    background-color: #FED766;
    color: #000; 
    border-color: #FED766; 
    font-size: 12px; 
    padding: 5px 10px;
   
}

.settings-button{
    background-color: grey;
    color: #000;
    border-color: grey;
    font-size: 12px; 
    padding: 5px 10px;
}

.btn {
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
  }

  .connect-button:hover {
    background-color: khaki; /* Cambio de color en hover */
    color: black;
  }

  .settings-button:hover {
    background-color: #545b62; /* Cambio de color en hover */
    color: #fff;
  }